:root{
    --white:#ffffff;
    --black:#000000;
    --not-hover:rgba(196, 196, 196, 0.616);
    --img-hover: #838383;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
    font-size: 65.2%;
    scroll-behavior: smooth;
}
body,
input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: var(--black);
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3,
h4 {
    font-weight: 500;
}
/*
======================
Header
======================
*/
.header{
   
   height:13rem;
    
    
}
.header-top{
    height: 8rem;
    width: 95%;
    max-width: 1280px;
    line-height: 8rem;
    margin: 0 auto;
    display: flex;
    text-align: center;
  
}
.header-search{
    width: 22rem;
    position: relative;
}
.header-search input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: .2rem solid var(--not-hover);
    padding-left: 2rem;
}
input::placeholder{
    font-size: 1.2rem;
}
.header-search .search-icon{
    position: absolute;
    top: 3.1rem;
    left: 0;
}
.header-logo{
    padding-top: 1rem;
    margin-left: 33.5rem;
}
.header-mng{
    color: var(--img-hover  );
    margin-left:44rem;
}
.header-mng span{
    font-size: 1rem;
}
.mng-sign{
    padding-bottom: 1rem;
    cursor: pointer;
    position: relative;
    transition: all .5s;
    z-index: 9999;
}
.mng-sign:hover {
    color: var(--black);
}
.mng-sign:hover .toggle-sign {
    color: var(--black);
    display: block;
}
.mng-sign__ico{
    font-size: 1rem;
}
.mng-sign:hover .mng-sign__ico{
    transform: rotate(180deg);
    
}
.mng-cart{

    position: relative;
    margin-left: 1.5rem;
    
}
.mng-cart:hover{
    color: #000000;
}
.cart-count{
    position: absolute;
    width: 1.3rem;
    height: 1.5rem;
    top:-1rem;
    right: -1rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    
}
.cart-count span{
   
    font-size: 1.5rem;
    
}


.toggle-sign{
    position: absolute;
    top: 1.7rem;
    right: 0rem;
    min-width: 25rem;
    min-height: 15rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    cursor:context-menu;
    background-color: white;
}
.toggle-sign p{
    font-size: 1.4rem;
    height: 5rem;
    line-height: 5rem;
}
.toggle-line{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}
.toggle-box{
    display: flex;
    flex-direction: column;
   
    justify-content: space-around;
    align-items: center;
}
.toggle-box .toggle-login{
    margin-top: 2rem; 
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.6rem;
    position: relative;
    overflow: hidden;
}
.toggle-login::before{
    content: "Login";
    position: absolute;
    left: 0;
    border:1px solid #000000;
    width: 19.8rem;
    height: 3.9rem;
    line-height: 4rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.6rem;
    transition:all 0.2s;
    transform: scale(3);
    opacity: 0;
}
.toggle-login:hover::before{
    transform: scale(1);
    opacity: 1;
}
.toggle-box .toggle-signUp{
    width: 65%;
    padding-top: .3rem;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: space-around;
}
.header-nav{
    height: 5rem;
}
.header-nav ul{
    margin: 0 auto;
    width:  57%;
    display: flex;
    justify-content: space-between;
    
}
.header-nav li{
    cursor: pointer;
    
    /* position: relative; */
}
.nav-element > a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: .3rem;
    background-color: #000000;
    top: 3rem;
    transition: all .3s; 
}
.nav-element:hover  a::before{
    width: 100%;
    
}

.nav-element:hover > a > i{
    
    transform: rotate(180deg);
    /* transform: translateX(.1rem); */

}
.header-nav a{
    line-height: 5rem;
    font-size: 1.4rem;
    font-weight: normal;
    position: relative;
    
}
.header-nav i{
    position: absolute;
    right: -1.5rem;
    top: .2rem;
    font-size: 1.2rem;
}

.nav-element > div{
    position: absolute;
    background-color: #ffffff;
    width:100%;
    left: 0;
    border-top: 1px solid var(--img-hover);
    border-bottom: 1px solid var(--img-hover);
   
    animation: rotateY .6s ease-in-out forwards;
    transform-origin: top center;

    display: none;
}
.nav-element:hover > div{
    display: block;
}

    
@keyframes rotateY {
     0% {
        transform: rotateY(90deg)
    }
    80% {
        transform: rotateY(-10deg)
    }
    100% {
        transform: rotateY(0)
    }
}

.nav-child-1{
    width: 100%;
   
}
.subnav-father{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-left: 7rem;
    display: flex;
   flex-direction: row;
   position: relative;
}
/* .subnav-father li{
    cursor: pointer;
} */
.subnav-father .nav-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   padding-bottom: 10rem;
}
.subnav-father::before{
    content: "";
    position: absolute;
    height: 20rem;
    width: .1rem;
    background-color: var(--not-hover);
    top: 5rem;
    left: 25.6rem;
    
}
.subnav-father .nav-main li a{
    font-weight: 500;
    position: relative;
}

.subnav-father .nav-main li a::before{
    position: absolute;
    content: "";
    width: 0%;
    height: .1rem;
    background-color: #000000;
    bottom: 0;
    transition: all 0.3s;
}
.subnav-father .nav-main li:last-child{
    
    position: relative;
}

.subnav-father .nav-main li:last-child a::before{
    position: absolute;
    content: "";
    width: 1rem;
    height: .2rem;
    background-color: #000000;
    top: .8rem;
    right: -2rem;
    transition: all 0.3s;
} 
.subnav-father .nav-main i {
    position: absolute;
    top: .428rem;
    right: -2.2rem;
    transition: all 0.3s;
}
.subnav-father .nav-main li:last-child:hover a::before{
   width: 2rem;
   transform: translateX(2rem);
} 
.subnav-father .nav-main li:last-child:hover i  {
    transform: translateX(2rem);
}


.subnav-father .nav-main li:not(:last-child):hover a::before{
    
    width: 100%;
   
    
}

.subnav-father .subnav-child{
    padding-left: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1.4rem;
}
.subnav-father .subnav-child li:first-child{
    margin-top: 1rem;
}
.subnav-father .subnav-child li a{
    font-size: 1.2rem;
    line-height: 3.5rem;
    color: var(--img-hover);
}
.subnav-father .subnav-child li:hover a{
    font-size: 1.3rem;
    color: var(--black);
}

.nav-child-1{
    cursor: default;
}
.bands::before{
    display: none;
}
.bands{
    padding-bottom: 5rem;
}
.last-nav-element:hover > a{
    color: red;
}
.last-nav-element:hover > a > i{
    color: var(--black);
}





/* END : HEADER */
.Head-Background{
    width: 100%;
    height: 100vh;
    background-image: url("../img/Header/_D_Homepage_1440_Compressed.gif");
}
